body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ddd;
}

.flags {
    display: grid;
    margin: 4vw 0;
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 600px) {
    .flags {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .flags {
        grid-template-columns: repeat(2, 1fr);
    }
}

.flags > div {
    justify-self: center;
    height: 16vw;
}

@media only screen and (max-width: 600px) {
    .flags > div {
        height: 25vw;
    }
}

@media only screen and (max-width: 400px) {
    .flags > div {
        height: 38vw;
    }
}

img {
    height: 45%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

img.open {
    position: fixed;
    width: 50vw;
    height: auto;
    left: 10vw;
    right: 10vw;
    top: 2vw;
}

.country-name {
    display: block;
    text-align: center;
    margin-top: 6px;
    color: #000;
    line-height: 1.1;
}